# compiled files
*.pyc
sketchyopts/__pycache__/
tests/__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# virtual environment
.venv/

# OS files
.DS_Store

# config files
.pre-commit-config.yaml
*.sublime-project
*.sublime-workspace

# built documentation
docs/_build/