[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "sketchyopts"
dynamic = ["version"]
requires-python = ">=3.9"
dependencies = [
  "jax",
  "jaxlib",
  "numpy ~= 1.26.4",
  "equinox",
  "lineax",
]

[project.optional-dependencies]
test = [
  "pytest", 
  "pytest-cov", 
  "scikit-learn"
]
docs = [
  "sphinx-book-theme", 
  "sphinxcontrib-katex",
  "sphinx-autodoc-typehints",
  "sphinx_design",
  "myst-nb", 
  "sphinxcontrib-bibtex",
]

[tool.pyright]
include = ["sketchyopts"]

[tool.coverage.run]
omit = ["tests/*", "__init__.py"]